.ngay {
	background-color: #00000000;
	}
.thangduong {
	text-align:center;font-size:130%;
	font-weight:bold;
	color:#330033;
	background-color: #FFFFFF
	}
.ngayduong {
	text-align:center;
	font-size:180%;
	font-weight:bold;
	color:white
	}
.ngaythangduong {
	text-align:center;
	font-size:100%;
	font-weight:bold;
	color:white
	}
.thuduong {
	text-align:center;
	font-size:120%;
	font-weight:bold;
	text-decoration:underline;
    color:white
	}
.thangnamam {
	text-align:center;
	font-size:100%;
	color:white
	}
.ngayam {
	text-align:center;
	font-size:200%;
	font-weight:bold;
	color:white
	}
.gioam {
	text-align:center;
	font-size:100%;
	color:white
	}
.canchi {
	vertical-align:top
	}
.normal {
	vertical-align:top;
	line-height:100%
	}
.hoangdao {
	text-align:center;
	font-size:70%;
	color:white
	}
.info {
	text-align:center;
	font-size:80%;
	color:yellow
	}